.site-logo {
	position: relative;


	a {
		padding: 0;
	}


	img {
		width: 80%;
		position: absolute;
		background: #fff;
		padding: .5em;
		z-index: 2;
		@include vendor-prefix(box-shadow, 1px 1px 1px #E7E7E7);
	}
}

.mobile-logo {
	display: none;

	@include breakpoint(lt-tablet) {
		display: block;
		left: 20px;
		display: block;
		position: fixed;
		z-index: 11;
		top: 0;
		width: 75px;
		background: #fff;
		padding: .5em;
		@include vendor-prefix(box-shadow, 1px 1px 1px #E7E7E7);
	}

}


.sticky-wrapper {
	position: relative;
	z-index: 999;
}

