.burger {
	 background-image: url("../img/burger.png");  
	 position: relative;
	 width: 31px;
	 height: 29px; 
	 left: 10px;
	 top: 20px;   
	 z-index: 100; 	
}

.mobile-menu {
	position: absolute;
	top: 25%; 
	background-color: rgba(255,255,255,0.9); 
	left: -900px;  
	-webkit-transition: 1s; 
	-moz-transition: 1s; 
	-ms-transition: 1s; 
	-o-transition: 1s; 
	transition: 1s; 
	width: 100%; 
	font-family: mesmerize;
	color: #eb37fb;
	z-index: 200; 
	padding-left: 15px; 
	ul {
		li{
			text-transform: uppercase;
			line-height: 30px; 
			font-size: 0.8em; 
			text-shadow: 0.5px 0.5px #ff0000;
		}	
	}
}

.menu-on {
	left: 0; 
}


.mobile-menu,.burger {
	@media all and (min-width: 768px) { 
		display: none;
	}
}

.menu {
	display: none;
	ul {
		width: 210px;
		margin: 0 auto; 
		margin-top: -60px; 
		li {
			float: left;
			margin-left: 15px;
			font-family: mesmerizes-ultra-lt;
			color: #670263; 
		}
	}
	@media all and (min-width: 768px) { 
		display: inline;

	}
	
}