/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 mixins
2.0 content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1 MIXINS
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
body {
  background-color: #222; }
  @media all and (min-width: 768px) {
    body {
      background-color: #fff; } }
  @media all and (min-width: 980px) {
    body {
      background-color: #f2f; } }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
