/*--------------------------------------------------------------
10.1 Posts and pages
--------------------------------------------------------------*/
.burger {
  background-image: url("../img/burger.png");
  position: relative;
  width: 31px;
  height: 29px;
  left: 10px;
  top: 20px;
  z-index: 100; }

.mobile-menu {
  position: absolute;
  top: 25%;
  background-color: rgba(255, 255, 255, 0.9);
  left: -500px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  width: 100%;
  font-family: mesmerize;
  color: #eb37fb;
  z-index: 200; }
  .mobile-menu ul li {
    text-transform: uppercase;
    line-height: 30px;
    font-size: 0.8em;
    text-shadow: 0.5px 0.5px #ff0000; }

.menu-on {
  left: 0; }

ul, li {
  list-style: none;
  padding: 0; }

.about-face {
  background-image: url("../img/about-face.png");
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 60%;
  top: 25%; }

.about .mobile-menu, .endo-page .mobile-menu, .tricks-page .mobile-menu, .preserve-page .mobile-menu, .seductive-page .mobile-menu {
  top: 50px; }

.textarea {
  position: relative;
  top: 200px;
  left: 20px;
  width: 50%; }
  .textarea h1 {
    text-align: center;
    font-family: mesmerizesb;
    border-bottom: 1px solid #000; }
  .textarea span {
    color: #8F0289; }

.about-page {
  overflow-y: hidden; }

.endo-page {
  overflow-x: hidden; }

.endo-body {
  background-image: url("../img/endo-body.png");
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  position: absolute;
  left: 25%;
  top: 90%; }

.endo .textarea {
  top: 10px;
  width: 80%; }
.endo p span {
  font-family: mesmerizelight;
  font-size: 1.2em;
  color: #000; }
.endo h1 {
  text-align: left;
  text-transform: uppercase;
  border: none;
  margin-bottom: 0; }
  .endo h1 span {
    color: #f5d522;
    font-family: mesmerizescondensed;
    font-size: 1.2em; }
.endo h2 {
  border-bottom: 1px solid #000;
  color: #84266c;
  font-size: 0.9em;
  font-family: mesmerizeslight-it; }

/*SLIDER*/
#seduce {
  height: 100vh;
  overflow: hidden; }
  #seduce .textarea {
    height: 20vh;
    margin: 0;
    width: 100%;
    text-align: center;
    position: inherit;
    font-family: 'mesmerize'; }

.slider {
  min-height: 80vh;
  background: url("../img/sliderBG.png") no-repeat;
  background-size: initial;
  background-position: -12em 4.6em; }
  .slider .slides li {
    position: absolute !important; }
    .slider .slides li img {
      position: relative;
      top: 4.5em !important; }

.tricks-page h1, .preserve-page h1 {
  padding-top: 25%; }

.seductive-page h1, .tricks-page h1, .preserve-page h1 {
  font-family: mesmerizescondensed;
  font-size: 3em;
  border-bottom: none;
  margin: 0;
  color: #8f0289; }
  .seductive-page h1 span, .tricks-page h1 span, .preserve-page h1 span {
    font-family: Bodoni;
    color: #f5d522;
    font-size: 1.5em; }
.seductive-page h2, .tricks-page h2, .preserve-page h2 {
  font-family: mesmerizeslight-it;
  font-size: 1.2em;
  margin: 0;
  color: #8f0289; }

#seduce {
  height: 100vh;
  overflow: hidden; }
  #seduce .textarea {
    height: 20vh;
    margin: 0;
    width: 100%;
    text-align: center;
    position: inherit;
    font-family: 'mesmerize'; }

.slider {
  min-height: 80vh;
  background: url("../img/sliderBG.png") no-repeat;
  background-size: cover;
  background-position: -19em 1em; }
  .slider .slides li {
    position: absolute !important; }
    .slider .slides li img {
      position: relative;
      top: 4.5em !important; }

.trick1 {
  background-image: url("../img/trick1.png");
  width: 226px;
  margin: 0 auto;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
  background-repeat: no-repeat; }

.trick2 {
  background-image: url("../img/trick2.png");
  width: 226px;
  margin: 0 auto;
  height: 220px;
  margin-bottom: 35px;
  background-repeat: no-repeat; }

.trick3 {
  background-image: url("../img/trick3.png");
  height: 220px;
  width: 226px;
  margin: 0 auto;
  margin-bottom: 35px;
  background-repeat: no-repeat;
  padding-bottom: 100px; }

.tricks-imgs figcaption {
  padding-top: 230px;
  text-align: center;
  font-family: Avenir;
  color: #8f0289; }

.embalming {
  background-image: url("../img/embalming.png");
  width: 85px;
  height: 115px;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 125%;
  margin-left: -42.5px; }
  .embalming figcaption {
    margin-top: 125px;
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 0.8em; }

.preserve-body {
  background-image: url("../img/preserve-body.png");
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  position: absolute;
  left: 25%;
  top: 150%; }

@font-face {
  font-family: Avenir;
  src: url(../fonts/mesmerize/Avenir.ttc); }
@font-face {
  font-family: Bodoni;
  src: url(../fonts/mesmerize/Bodoni.ttf); }
@font-face {
  font-family: mesmerize;
  src: url(../fonts/mesmerize/mesmerize-el.ttf); }
@font-face {
  font-family: mesmerizelight;
  src: url(../fonts/mesmerize/mesmerize-lt.ttf); }
@font-face {
  font-family: mesmerizesb;
  src: url(../fonts/mesmerize/mesmerize-sb.ttf); }
@font-face {
  font-family: mesmerizescondensed;
  src: url(../fonts/mesmerize/mesmerize-cd-rg.ttf); }
@font-face {
  font-family: mesmerizeslight-it;
  src: url(../fonts/mesmerize/mesmerize-ex-lt-it.ttf); }
h2 {
  margin: 0; }

a {
  text-decoration: none;
  color: #eb37fb; }

p {
  font-family: Avenir; }

.home-background {
  position: absolute;
  background-image: url("../img/home-bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center; }

.body-mobile {
  position: absolute;
  background-image: url("../img/body-mobile.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center; }

.home h1 {
  position: relative;
  text-align: center;
  font-family: mesmerize;
  font-size: 5em;
  color: #eb37fb;
  top: -60px; }
.home h3 {
  font-size: 0.5em;
  position: relative;
  text-align: center;
  font-family: mesmerize;
  color: #470244;
  top: -10px; }

/*--------------------------------------------------------------
10.2 Asides
--------------------------------------------------------------*/
/*--------------------------------------------------------------
10.3 Comments
--------------------------------------------------------------*/
