
//fonts 

@font-face {
    font-family: Avenir;
    src: url(../fonts/mesmerize/Avenir.ttc);
}

@font-face {
    font-family: Bodoni;
    src: url(../fonts/mesmerize/Bodoni.ttf);
}

@font-face {
    font-family: mesmerize;
    src: url(../fonts/mesmerize/mesmerize-el.ttf);
}

@font-face {
    font-family: mesmerizelight;
    src: url(../fonts/mesmerize/mesmerize-lt.ttf);
}

@font-face {
    font-family: mesmerizesb;
    src: url(../fonts/mesmerize/mesmerize-sb.ttf);
}

@font-face {
    font-family: mesmerizescondensed;
    src: url(../fonts/mesmerize/mesmerize-cd-rg.ttf);
}


@font-face {
    font-family: mesmerizeslight-it;
    src: url(../fonts/mesmerize/mesmerize-ex-lt-it.ttf);
}



a {
	text-decoration: none;
	color: #eb37fb; 
}

p {
	font-family: Avenir;
}


.home-background  {
	position: absolute;
	 background-image: url("../img/home-bg.png");  
	 -webkit-background-size: cover;
	 -o-background-size: cover; 
	 background-size: cover; 
	 width: 100vw;
	 height: 100vh;
	 background-position: center;   	

}

.body-mobile  {
	position: absolute;
	 background-image: url("../img/body-mobile.png");  
	 -webkit-background-size: cover;
	 -o-background-size: cover; 
	 background-size: cover; 
	 width: 100vw;
	 height: 100vh;
	 background-position: center;   	

}

.home {
	h1 {
		position: relative;
		text-align: center;
		font-family: mesmerize;
		font-size: 5em;
		color: #eb37fb;
		top: -60px; 
	}
	h3 {
		font-size: 0.5em;
		position: relative;
		text-align: center; 
		font-family: mesmerize;
		color: #470244; 
		top: -10px; 
	}
}

