ul,li {
	list-style: none; 
	padding: 0; 
}


.about-face {
	background-image: url("../img/about-face.png");
	width: 40%;
	height: 100%;
	background-repeat: no-repeat; 
	position: absolute; 
	left: 60%; 
	top: 25%; 
}

.about,.endo-page,.tricks-page,.preserve-page,.seductive-page {
	.mobile-menu{
		top: 50px; 
	}
}

.textarea {
	position: relative;
	top: 200px; 
	left: 20px;  
	h1 {
		text-align: center;
		font-family: mesmerizesb; 
		border-bottom: 1px solid #000; 
	}
	width: 50%;
	span {
		color: #8F0289;
	}
	@media all and (min-width: 768px) { 
		width: 50%; 
	}
}


.about-page {
	overflow-y:hidden; 
}

.endo-page {
	overflow-x:hidden;
}

.endo-body{
	background-image: url("../img/endo-body.png");
	width: 80%; 
	height: 80%;
	background-repeat: no-repeat; 
	position: absolute; 
	left: 25%; 
	top: 100%; 
	@media all and (min-width: 768px) { 
		left: 60%; 
		top: 30%;  
	}
} 

.endo {
	.textarea {
		top: 10px;
		width: 80%;
		@media all and (min-width: 768px) { 
			width: 50%; 
		}
	}
	p {
		span {
			font-family: mesmerizelight;
			font-size: 1.2em;
			color: #000;  
		}
	}
	h1 {
		text-align: left;
		text-transform: uppercase;
		border: none; 
		margin-bottom: 0;  
		span {
			color: #f5d522; 
			font-family: mesmerizescondensed;
			font-size: 1.2em; 
		}
	}
	h2 {
		border-bottom: 1px solid #000;
		color: #84266c; 
		font-size: 0.9em;
		font-family: mesmerizeslight-it; 
	} 
	
	       
}

/*SLIDER*/ 
#poll img:hover{
	border: 5px solid #f5d522;
	border-radius: 6px;
}

#seduce,
#poll{
  height: 100vh;
  overflow: hidden;

	.textarea{
	  
	  height: 20vh;
	  margin: 0;
	  width: 100%; 
	  text-align: center;
	  position: inherit;
	  font-family: 'mesmerize';
	
		h1{
			border-bottom: 0px;
		}
	}
}

.slider{
  min-height: 80vh;
  background: url('../img/sliderBG.png') no-repeat;
  background-size: initial;
  background-position: -12em 4.6em;
  position: relative;
  top: -3em;

	.slides li{
		position: absolute !important ;
		
		img{
		  position: relative;
		  top: 4.5em !important;
		}
	}

	figcaption{
		width: 100%;
		font-family: 'mesmerize';
		position: absolute;
		bottom: 10em;
		text-align: center;
	}

}


.tricks-page,.preserve-page {
	h2 {
		padding-left: 50px; 
		 
	}
	h1 {
	padding-top: 25%; 
	padding-left: 50px; 
	@media all and (min-width: 768px) { 
		padding-top: 5%; 
	}
	} 
}

.seductive-page,.tricks-page,.preserve-page {

	h1 {
		font-family: mesmerizescondensed;
		font-size: 3em; 
		border-bottom: none;
		margin: 0;  
		color: #8f0289; 
		span {
			font-family: Bodoni;
			color: #f5d522;
			font-size: 1.5em;  
		}
		
	}
	
	h2 {
		font-family: mesmerizeslight-it;
		font-size: 1.2em; 
		margin: 0;  
		color: #8f0289; 
		
	}
}



// slider 




#seduce{
  height: 100vh;
  overflow: hidden;

	.textarea{
	  
	  height: 20vh;
	  margin: 0;
	  width: 100%; 
	  text-align: center;
	  position: inherit;
	  font-family: 'mesmerize';
	}
}

.slider{
  min-height: 80vh;
  background: url('../img/sliderBG.png') no-repeat;
  background-size: cover;
  background-position: -19em 1em;

	.slides li{
		position: absolute !important ;
		
		img{
		  position: relative;
		  top: 4.5em !important;
		}
	}

}


//tricks 


.trick1 {
	background-image: url("../img/trick1.png");
	// position: relative;
	width: 226px;
	margin: 0 auto; 
	height: 220px;  
	margin: 0 auto; 
	text-align: center; 
	margin-bottom: 35px; 
	background-repeat: no-repeat ;
}

.trick2 {
	background-image: url("../img/trick2.png");
	// position: relative;
	width: 226px;
	margin: 0 auto; 
	height: 220px;  
	margin-bottom: 35px; 
	background-repeat: no-repeat ;
}

.trick3 {
	background-image: url("../img/trick3.png");
	// position: relative;
	height: 220px; 
	width: 226px;
	margin: 0 auto; 
	margin-bottom: 35px;  
	background-repeat: no-repeat ;
	padding-bottom: 100px; 
}

.tricks-imgs {
	padding-top: 100px; 
	ul {
		@media all and (min-width: 768px) { 
			width: 760px;
			margin: 0 auto; 
		 
		}
		li {

			@media all and (min-width: 768px) { 
				float: left;
				margin-left: 25px; 
				}
		}
	}
	figcaption {
		 padding-top: 230px; 
		 text-align: center;
		 font-family: Avenir;
		 color: #8f0289; 
		
	}
	
}





//preserve

.embalming{
	background-image: url("../img/embalming.png");
	width: 85px; 
	height: 115px;
	background-repeat: no-repeat; 
	position: absolute; 
	left: 50%; 
	top: 140%; 
	margin-left: -42.5px; 
	figcaption {
		margin-top: 125px;
		text-align: center;
		border-bottom: 1px solid #000; 
		font-size: 0.8em;
	}
	@media all and (min-width: 768px) { 
		left: 40%; 
		top: 100%;  
	}
	 
}


.preserve-body {
	background-image: url("../img/preserve-body.png");
	width: 80%; 
	height: 80%;
	background-repeat: no-repeat; 
	position: absolute; 
	left: 25%; 
	top: 180%; 
	@media all and (min-width: 768px) { 
		left: 60%; 
		top: 50%;  
	}
	
}

.preserve-page {
	.textarea {
		span {
			color: #eb37fb; 
		}
	}
}

