.about-face {
	background-image: url("../img/about-face.png");
	width: 40%;
	height: 100%;
	background-repeat: no-repeat; 
	position: absolute; 
	left: 60%; 
	top: 25%; 
}

.about,.endo-page {
	.mobile-menu {
		top: 50px; 
	}
}

.textarea {
	position: relative;
	top: 200px; 
	left: 20px;  
	h1 {
		text-align: center;
		font-family: mesmerizesb; 
		border-bottom: 1px solid #000; 
	}
	width: 50%;
	span {
		color: #8F0289;
	}
}


.about-page {
	overflow-y:hidden; 
}

.endo-page {
	overflow-x:hidden;
}

.endo-body{
	background-image: url("../img/endo-body.png");
	width: 80%; 
	height: 80%;
	background-repeat: no-repeat; 
	position: absolute; 
	left: 25%; 
	top: 90%; 
}

.endo {
	.textarea {
		top: 10px;
		width: 80%;
	}
	p {
		span {
			font-family: mesmerizelight;
			font-size: 1.2em;
			color: #000;  
		}
	}
	h1 {
		text-align: left;
		text-transform: uppercase;
		border: none; 
		margin-bottom: 0;  
		span {
			color: #f5d522; 
			font-family: mesmerizescondensed;
			font-size: 1.2em; 
		}
	}
	h2 {
		border-bottom: 1px solid #000;
		color: #84266c; 
		font-size: 0.9em;
		font-family: mesmerizeslight-it; 
	} 
	
	
}


#seduce{

}

#seduce{
  height: 100vh;
  overflow: hidden;

	.textarea{
	  
	  height: 20vh;
	  margin: 0;
	  width: 100%; 
	  text-align: center;
	  position: inherit;
	  font-family: 'mesmerize';
	}
}

.slider{
  min-height: 80vh;
  background: url('../img/sliderBG.png') no-repeat;
  background-size: cover;
  background-position: -19em 1em;

	.slides li{
		position: absolute !important ;
		
		img{
		  position: relative;
		  top: 4.5em !important;
		}
	}

}





// slider 




#seduce{
  height: 100vh;
  overflow: hidden;

	.textarea{
	  
	  height: 20vh;
	  margin: 0;
	  width: 100%; 
	  text-align: center;
	  position: inherit;
	  font-family: 'mesmerize';
	}
}

.slider{
  min-height: 80vh;
  background: url('../img/sliderBG.png') no-repeat;
  background-size: cover;
  background-position: -19em 1em;

	.slides li{
		position: absolute !important ;
		
		img{
		  position: relative;
		  top: 4.5em !important;
		}
	}

}